<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.a.eye.bot.chat.service.dao.ibatis.UserFriendsMapper" >
  <resultMap id="BaseResultMap" type="com.a.eye.bot.chat.service.entity.UserFriends" >
    <id column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="friends" property="friends" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, friends
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_friends
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_friends
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.a.eye.bot.chat.service.entity.UserFriends" >
    insert into user_friends (user_id, friends)
    values (#{userId,jdbcType=BIGINT}, #{friends,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.a.eye.bot.chat.service.entity.UserFriends" >
    insert into user_friends
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="friends != null" >
        friends,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="friends != null" >
        #{friends,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.a.eye.bot.chat.service.entity.UserFriends" >
    update user_friends
    <set >
      <if test="friends != null" >
        friends = #{friends,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.a.eye.bot.chat.service.entity.UserFriends" >
    update user_friends
    set friends = #{friends,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
</mapper>