<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<bean id="producer" class="com.a.eye.bot.common.message.actor.ActorProducer" init-method="start">
	</bean>

	<bean id="consumer" class="com.a.eye.bot.common.message.actor.ActorConsumer" init-method="start">
		<property name="topicName" value="${service_ui_topicName}"></property>
	</bean>
</beans>
