<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout charset="UTF-8" pattern="%highlight{%d [%t] %-5p %c(%L) - %m%n}" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>
