<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.a.eye.bot.user.service.dao.DepartMapper" >
  <resultMap id="BaseResultMap" type="com.a.eye.bot.user.service.entity.Depart" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="company_id" property="companyId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="describe" property="describe" jdbcType="VARCHAR" />
    <result column="users" property="users" jdbcType="VARCHAR" />
    <result column="departs" property="departs" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, company_id, name, describe, users, departs
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from depart
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from depart
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.a.eye.bot.user.service.entity.Depart" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into depart (company_id, name, describe, 
      users, departs)
    values (#{companyId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{describe,jdbcType=VARCHAR}, 
      #{users,jdbcType=VARCHAR}, #{departs,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.a.eye.bot.user.service.entity.Depart" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into depart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="describe != null" >
        describe,
      </if>
      <if test="users != null" >
        users,
      </if>
      <if test="departs != null" >
        departs,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="companyId != null" >
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="describe != null" >
        #{describe,jdbcType=VARCHAR},
      </if>
      <if test="users != null" >
        #{users,jdbcType=VARCHAR},
      </if>
      <if test="departs != null" >
        #{departs,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.a.eye.bot.user.service.entity.Depart" >
    update depart
    <set >
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="describe != null" >
        describe = #{describe,jdbcType=VARCHAR},
      </if>
      <if test="users != null" >
        users = #{users,jdbcType=VARCHAR},
      </if>
      <if test="departs != null" >
        departs = #{departs,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.a.eye.bot.user.service.entity.Depart" >
    update depart
    set company_id = #{companyId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      describe = #{describe,jdbcType=VARCHAR},
      users = #{users,jdbcType=VARCHAR},
      departs = #{departs,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>