<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.bot.web.service.dao.ChatFriendsMapper" >
  <resultMap id="BaseResultMap" type="com.ai.bot.web.service.entity.ChatFriends" >
    <id column="account_id" property="accountId" jdbcType="BIGINT" />
    <result column="friends" property="friends" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    account_id, friends
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.bot.web.service.entity.ChatFriendsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from chat_friends
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from chat_friends
    where account_id = #{accountId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from chat_friends
    where account_id = #{accountId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ai.bot.web.service.entity.ChatFriends" >
    insert into chat_friends (account_id, friends)
    values (#{accountId,jdbcType=BIGINT}, #{friends,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.bot.web.service.entity.ChatFriends" >
    insert into chat_friends
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="accountId != null" >
        account_id,
      </if>
      <if test="friends != null" >
        friends,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="accountId != null" >
        #{accountId,jdbcType=BIGINT},
      </if>
      <if test="friends != null" >
        #{friends,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.bot.web.service.entity.ChatFriends" >
    update chat_friends
    <set >
      <if test="friends != null" >
        friends = #{friends,jdbcType=VARCHAR},
      </if>
    </set>
    where account_id = #{accountId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.bot.web.service.entity.ChatFriends" >
    update chat_friends
    set friends = #{friends,jdbcType=VARCHAR}
    where account_id = #{accountId,jdbcType=BIGINT}
  </update>
</mapper>